doctype html
html(manifest="manifest.appcache")
  head
    title TGS App &middot; Home
    include head.jade
    link(rel="stylesheet", href="tgs.css", async)
  body
    ul.navbar.large.teal.left-align
      li.hide-medium.hide-large.teal.opennav.right: a(href="javascript:$(null)") ☰
      li: a(href="#/", onclick="_(1)") TGS App
      li.hide-small: a(href="#/notices/", onclick="_(1)") Notices
      li.hide-small: a(href="#/news/", onclick="_(2)") News
      li.hide-small: a(href="#/blog/", onclick="_(3)") Blog
      li.hide-small: a(href="./kamar/timetable/") Timetable
      li.hide-small: a(href="./kamar/details/") Details
      li.hide-small: a(href="./kamar/absences/") Absences
      
    #nav.hide.hide-large.hide-medium: ul.navbar.left-align.large.teal
      li: a(href="#/notices", onclick="$(1)") Notices
      li: a(href="#/news", onclick="$(2)") News
      li: a(href="#/blog", onclick="$(3)") Blog
      li: a(href="./kamar") More
    .container
      input(type='hidden', id='v', value=version)
      .pages
        section: #google
        #1
          h2 Daily Notices
          section: article!= notices
        #2(hidden)
          h2 School News
          section: ul.ul.card-4!= news
        #3(hidden)
          h2 Blog
          section: ul.ul.card-4: li!= blog
  footer.bottom.teal.container
    center: small
      a(href="http://github.com/tgs-app") About 
      | | 
      a(href="http://github.com/k-yle") Contact 
    script(src="//translate.google.com/translate_a/element.js?cb=google", defer)
    script.
      function google(){new google.translate.TranslateElement({pageLanguage:'en'/*, layout: google.translate.TranslateElement.InlineLayout.SIMPLE*/},'google');};
      function d(id){return document.getElementById(id);};
      function _(n){d(1).hidden=!0;d(2).hidden=!0;d(3).hidden=!0;d(n).hidden=!1;};
      function $(n){var x = d('nav');x.className.indexOf('show')==-1?x.className+=' show':x.className=x.className.replace(' show', '');n!=null&&_(n);};