extends ./layout.jade

block title
  title TGS App &middot; KAMAR &middot; Absences

block content
  h2 Absences - <small>!{ID}</small>
  #XML(hidden)!=XML
  p#PctgeP Attendance Rate: 
  .timetable(style="overflow-x:scroll")
    table.table.table-all
      thead: tr
        each heading in ['Days', 'Justified', 'Unjustified', 'Overseas', 'Total', 'Open']
          th: center= heading
      tbody#Absences
  br
  center: a.btn.green.round(href='./detail/') View more details
  hr
  p
    strong Justified: 
    | Student was absent from class with an explained, justified reason 
    br

    strong Unjustified: 
    | Student was absent from class, either unexplained, or explained but unjustified according to the law. 
    br

    strong Overseas: 
    | Student was overseas on an approved trip 
    br

    strong Total: 
    | Total absences for the student 
    br

    strong Open: 
    | Total number of days the school was open for tuition 
    br
    hr
    | A student must attend a minimum of 240 minutes per school day to be considered Present all day, or a minimum of 120 minutes to be considered Present a half-day 
  script.
    var AS = xmlToJson($('XML')).STUDENTABSENCESTATSRESULTS.STUDENTS.STUDENT;
    var As = function (item) { return AS[item.toUpperCase()]['#text']; };
    $('Absences').innerHTML = '<tr><td><center><strong>Full</strong></center></td><td><center>'+
      [As('FullDaysJ'), As('FullDaysU'), As('FullDaysO'), As('FullDaysT'), As('FullDaysOpen')].join('</center></td><td><center>')+'</td></tr><tr><td><center><strong>Half</strong></center></td><td><center>'+
      [As('HalfDaysJ'), As('HalfDaysU'), As('HalfDaysO'), As('HalfDaysT'), As('HalfDaysOpen')].join('</center></td><td><center>')+'</td></tr><tr><td><center><strong>%</strong></center></td><td><center>'+
      [As('PctgeJ')+'%', As('PctgeU')+'%', As('PctgeO')+'%', As('PctgeT')+'%', ''].join('</center></td><td><center>')+'</center></td></tr>';
    $('PctgeP').innerHTML += As('PctgeP')+'%'