extends ./layout.jade

block title
  title TGS App &middot; KAMAR  &middot; Home

block name
  | KAMAR

block content
  table(style={ "max-width": "300px;" }): tr
    td
      img.round-xlarge(src='https://portal.takapuna.school.nz/api/img.php?Key='+Key+'&Stuid='+ID, style="width:100")
    td
      h3= ID
      ul
        each item in ['Timetable', 'Details', 'Absences']
          li: a(href="#", onclick="_$(this.innerHTML)")= item
  script.
    function _$(item) {
      window.location = item + '/' + window.location.search;
    }